@import 'src/app/app.component.scss';

.game-screen{
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.main-screen-dimensions,.side-panel-dimensions, .toolbar-dimensions{
  display: flex;
  position: absolute;
}

.main-screen-dimensions{
  left: 0;
  top: $toolbar-height;
  width: 100%;
  height: 100% - $toolbar-height;
}

.side-panel-dimensions{
  left: $main-screen-width;
  top: $toolbar-height;
  width: 100% - $main-screen-width;
  height: 100% - $toolbar-height;
}

.toolbar-dimensions {
  left: 0;
  top: 0;
  width: 100%;
  height: $toolbar-height;
}


