.building-decoration {
  background: lightslategrey;
  border: black solid 3px;
  scrollbar-gutter: stable;
}

.building-size{
  width: 400px;
  height: 400px;
  overflow: auto;
}


/* Track */
::-webkit-scrollbar {
  background: lightslategrey;
}

/* Track */
::-webkit-scrollbar-track {
  background: #9A9FA1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #515354;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3B3D3D;
}
